[Unit]
Description=swaymsg output rotate wallpaper service

[Service]
ExecStart=%h/.config/sway/usr/sway_background_changer.sh

[Install]
WantedBy=multi-user.target
